

.product_container{
    border: 3px outset black;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 25px;
    width: 25%;
    height: 200px;
    float: left;
}

.product_header{
    width: 100%;
    height: 25px!important;
    border-bottom: 1px outset black;
}

.product_header p{
    display: inline-block;
}

.product_name{
    float: left;
    font-weight: bold;
    margin-left: 5px;
}

.product_price{
    float: right;
    margin-right: 5px;
}

.product_image{
    display: block;
}

.product_image img{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.product_description{
    width: 100%;
    border-top: 1px outset black;
}